.tictactoe-container {
  text-align: center;
  background: linear-gradient(135deg, #e6c9fe, #ffc7f2);
  color: white;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  margin: 50px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

.cell {
  background: white;
  color: #333;
  font-size: 2rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.difficulty-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.cell:hover {
  background: #ddd;
}

.winner {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.reset {
  background-color: #fd6673;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.back-link {
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
